*.sublime-*
/css/all.css
/css/animate.css
/css/bootstrap.min.*
/css/owl.*
/css/price_rangs.*
/css/style.*
/img/sprite-skin-simple.png
/js/bootstrap.min.*
/js/cells-by-column.js
/js/owl.carousel.min.js
/js/price_rangs.js
/node_modules
/webfonts
